#calculator {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: auto auto auto auto;
  font-size: 4rem;
}

#calculator > input {
  grid-column-start: 1;
  grid-column-end: 5;
}

#zeroKey {
  grid-column-start: 1;
  grid-column-end: 3;
}

#numberInput {
  text-align: right;
  padding-right: 1rem;
  padding-left: 1rem;
}

.item {
  font-size: 4rem;
}